Flask
flask-cors
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langgraph
PyPDF2
requests
razorpay
pymongo
sentence-transformers
chromadb
email-validator
gunicorn
langchain-chroma
